app-history-option-panel{
    z-index: 99;
    height: 100vh;
    width: 260px;
    background-color: #fff;
}
app-history-item-list{
    width: calc(100% - 260px);
    height: 220px;
    background-color: #fff;
}
cl-map{
    height: 100vh;
    width: calc(100% - 260px);
}
:host{
    display: block;
}